$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-white: #fff;
$color-black: #000;
$color-redish: #fb3b64;
$color-blue: #08a6e4;
$color-green: #55dfb4;
$color-grey: #a5a5a5;
$color-light-grey: #f7f7f7;