.benefits {
    background-color: $color-light-grey;
    padding: 105px 0;

    @include tablet {
        padding: 50px 0;
    }

    &__container {
        padding: 0 100px;

        @include tablet {
            padding: 0 15px;
        }
    }

    &__single {
        background-color: $color-white;
        border-radius: 5px;
        border: 1px solid #e8e9ed;
        display: flex;
        justify-content: space-between;
        margin-bottom: 37px;
        align-items: flex-end;

        @include tablet {
            flex-direction: column-reverse !important;
            align-items: center;
            padding: 0 20px !important;
        }
    }

    &__content {
        box-sizing: content-box;
        max-width: 416px;
        margin: 91px 36px;

        &::after {
            content: "";
            display: block;
            width: 321px;
            height: 5px;
            background-color: $color-redish;
            margin: 50px 0 0 0;
        }

        h2,
        p {
            margin: 36px;
        }

        @include tablet {
            margin: 30px 0;
        }

    }

    &__description {
        margin-top: 30px;
        line-height: 1.375rem;
    }

    /* 1ST RAW OF BENEFITS */

    &__single--macbook {
        @include tablet {
            margin: 40px 0 40px 0;
        }
    }

    &__icon1 {
        width: 386px;
        height: auto;
        margin-top: 113px;
        margin-bottom: 38px;
        margin-right: 117px;
        position: relative;
        z-index: 2;

        @include tablet {
            width: 192px;
            margin-left: 58.5px;
            margin-top: 33px;
            margin-bottom: 13px;
        }

    }

    &__macbook {
        position: relative;

        &::before {
            content: "";
            display: block;
            height: 180px;
            width: 180px;
            background-color: $color-redish;
            border-radius: 41px;
            position: absolute;
            transform: rotate(45deg);
            top: 56px;
            left: 171px;

            @include tablet {
                width: 90px;
                height: 90px;
                top: 11px;
                left: 160px;
            }

        }
    }

    /* 2ND RAW OF BENEFITS */


    &__single--iphone {
        flex-direction: row-reverse;
        padding: o 20px 0 70px;

        &::after {
            background-color: $color-blue;
        }
    }

    &__icon2 {
        width: 426px;
        height: 328px;
        margin-top: 29px;
        margin-bottom: 13px;
        margin-left: 70px;
        padding-left: 40px;
        position: relative;

        @include tablet {
            width: 175px;
            height: 135px;
            margin-left: 0;
        }
    }

    &__iphone {
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 320px;
            height: 320px;
            border-radius: 50%;
            background-color: $color-blue;
            position: absolute;
            top: 20px;
            right: 54px;

            @include tablet {
                width: 131px;
                height: 131px;
                top: 20px;
                left: -5px;
            }
        }

    }

    /* 3RD RAW OF BENEFITS */

    &__double {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            margin-bottom: 0;
            width: 100%;
        }

        &--col1 {
            max-width: 623px;

            @include tablet {
                max-width: none;
                margin-bottom: 0;

            }

            .benefits__content {
                margin: 0;
                padding: 30px 0;

                &::after {
                    background-color: $color-green;
                    content: '';
                    position: relative;
                    left: 36px;
                }
            }
        }

        &--col2 {
            width: 440px;
            background-color: $color-green;
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet {
                width: 100%;
            }
        }
    }

    &__icon3 {
        width: 295px;
        height: auto;

        @include tablet {
            margin-left: 0;
            margin-top: -5px;
        }
    }

    &__content {
        @include tablet {
            margin: 0;
            padding: 30px 0;
            max-width: none;
        }

        &:after {
            @include tablet {
                display: none;
            }
        }
    }
}